[*.cs]

# CS0114: Member hides inherited member; missing override keyword
dotnet_diagnostic.CS0114.severity = warning

# IDE0027: Use expression body for accessors
csharp_style_expression_bodied_accessors = true:silent

# IDE0067: Dispose objects before losing scope
dotnet_diagnostic.IDE0067.severity = none

# IDE0037: Use inferred member name
dotnet_style_prefer_inferred_tuple_names = true:suggestion
